.sectionWrap {
  background-color: #ffffff;
  margin: 2rem;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 0.1rem solid #c0c0c0;
  .profile {
    width: 15rem;
    height: fit-content;
    position: relative;
    div.profileItem:first-child {
      padding-top: 3rem;
    }
    div.profileItem:nth-last-child(2) {
      padding-bottom: 2rem;
    }
  }
  .profilePicture {
    position: absolute;
    width: 6rem;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3rem;
  }
}
