header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  border-bottom: 0.1rem solid #c0c0c0;
  .logo {
    padding: 1rem;
    height: 1rem;
  }
  .logout {
    padding: 1rem;
    cursor: pointer;
    :hover {
      color: #3f99f2;
    }
    img {
      vertical-align: bottom;
      width: 1rem;
    }
    a {
      font-size: 0.6rem;
      margin-left: 0.5rem;
      color: #818181;
      vertical-align: middle;
    }
  }
}
