.container {
  display: flex;

  .imageContainer {
    width: 65%;
    height: 100vh;
    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }
  .formContainer {
    padding: 4rem;
    width: 25%;
    .error {
      background-color: #fdecea;
      color: #611a15;
      padding: 0.5rem;
      font-size: 0.7rem;
      border-radius: 0.2rem;
    }
    .forgotPassword {
      font-weight: 500rem;
      font-size: 0.6rem;
      line-height: 2rem;
    }
  }
}
a {
  text-decoration: none;
  color: #3f99f2;
}
